<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseServer" value="SQL02\SQL2014" />
    <add key="DatabaseName" value="SLO Lithiania" />
    <add key="Tag" value="slo-dev" />
    <add key="TargetAddress" value="http://nav-object-updown.herokuapp.com" />
  </appSettings>
</configuration>